@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
}

.pro-pic {
  width: 500px;
  height: 500px;
  margin-right: 30px;
}

.portfolio-body {
  height: 6000px;
  font-family: 'nanumsqure';
}

.home {
  height: 920px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik Mono One', sans-serif;
}

.home-info {
  text-align: center;
}

.scroll {
  margin-top: 30px;
}

.about-me {
  height: 1050px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik Mono One', sans-serif;
  background-color: #DAE2F8;
}

.profile {
  width: 1300px;
  height: 700px;
}

.profile-box {
  display: flex;
  
}

.github-www {
  margin: 0px;
}


.profile-name {
  font-family: 'Rubik Mono One', sans-serif;
  color: #fff;
  font-size: 100px;
  filter: opacity(0.5);
}

.profile-info {
  width: 800px;
  height: 420px; 
  margin: auto;
  font-family: 'Noto Sans KR', sans-serif;
}

.profile-info-info {
  display: flex;
}

.entity {
  margin-left: 10px;
}

.profile-info-prize {
  margin-top: 30px;
}

.award-history {
  font-size: 30px;
}

.Certificate {
  margin-top: 30px;
  font-size: 30px;
}

.skill {
  height: 1050px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik Mono One', sans-serif;
  background-color: #DAE2F8;
}

.CanDo {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

.developer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.html-img {
  width: 500px;
  margin-right: 10px;
}

.js-img {
  width: 300px;
}

.react-img {
  width: 200px;
}

.jsp-img {
  width: 200px;
}

.oracle-img {
  width: 300px;
}

.project {
  height: 1050px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik Mono One', sans-serif;
  background-color: #DAE2F8;
}

.project-box {
  width: 1300px;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper {
  width: 1300px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  width: 500px !important;
  margin: 0 75px;
}


.project-entity {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  background-color: #fff;
}

.count-img {
  width: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-name {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 30px;
  text-align: center;
}

.project-skill {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  text-align: center;
}

.project-skill-info {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
  text-align: center;
}

.address {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.github-go {
  text-align: center;
  text-decoration: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  color: #425a73;
  transition: 0.3s;
  border: 1px solid #425a73;
}

.github-go:hover {
  
  background-color: #425a73;
  color: #fff;
}